<ion-tabs>
  <ion-buttons slot="end">
    <ion-button fill="outline"color="danger" (click)="logOut()"> Cerrar seisón</ion-button>
  </ion-buttons>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/app/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>EVENTOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/app/tabs/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>CALENDARIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/app/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/app/tabs/tab5">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dash" href="/app/tabs/dash">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

