<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EVENTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EVENTOS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block" (click)="setOpen(true)">detalles de evento</ion-button>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Registrarse</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <app-tab4></app-tab4>
          </ion-content>
        </ng-template>
      </ion-modal>

</ion-content>
