ion-text{
  display: flex;
  justify-content: center;
}
.map-wrapper {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

ion-card {
  margin-bottom: 20px;
}

