<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MAPA
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MAPA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="medium">
    <h1>MAPA</h1>
  </ion-text>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ubicación</ion-card-title>
      <ion-card-subtitle>GPS en tiempo real</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-button (click)="getLocationOnce()">
        <ion-icon name="locate" slot="start"></ion-icon>
        Obtener ubicación actual
      </ion-button>

      <div class="ion-margin-top">
        <p><strong>Lat:</strong> {{ lat || '—' }} |
            <strong>Lng:</strong> {{ lng || '—' }}</p>
      </div>

      @if (lat && lng && mapUrlSafe) {
        <div class="map-wrapper ion-margin-top">
          <iframe
            [src]="mapUrlSafe"
            width="100%"
            height="350"
            style="border:0; border-radius: 12px;"
            loading="lazy"
            allowfullscreen>
          </iframe>
        </div>
      }

    </ion-card-content>
  </ion-card>

</ion-content>
