.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

}

ion-item {
  --inner-padding-end: 0;
}

ion-input {
  margin-left: 1rem;
}
ion-card{
  padding: 1rem;
  width: 90%;
  max-width: 400px;
  display: flex;
  
}

