ion-card{
  padding: 1rem;
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;
  display: block;
}
ion-item {
  --inner-padding-end: 0;
}

ion-input {
  margin-left: 1rem;
}
.form {
  width: 90%;
}
